<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TargetCurrency" value="CNY"/>
		<add key="SenderEmail" value="evtykhinforwork@gmail.com"/>
		<add key="SenderPassword" value=""/>
		<add key="SenderName" value="Иванов Иван Иванович"/>
		<add key="RecipientEmail" value="evtykhinforwork@gmail.com"/>
		<add key="RecipientName" value="Евтюхин Кирилл Олегович"/>
	</appSettings>
</configuration>